* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Titillium Web", sans-serif;
}

main {
  background-color: rgb(233, 73, 73);
}

input {
  background-color: rgb(233, 73, 73);
  border: 1px rgb(233, 73, 73) solid;
  border-radius: 10px;
  padding: 3px;
}

h2 {
  text-align: center;
  padding: 1rem;
  border: 3px black solid;
  border-radius: 10px;
  color: rgb(233, 73, 73);
  background-color: black;
  border-style: groove;
  margin: 1.5rem;
  margin-top: 0rem;
  position: relative;
  top: 1.5rem;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
@media (min-width: 768px) {
  .card-container {
    display: flex;
    justify-content: space-evenly;
  }
}

.tarjeta {
  display: flex;
  flex-direction: column;
  width: 45vw;
  border: 3px black solid;
  background-color: white;
  text-align: center;
  padding: 8px;
  margin: 0.5rem;
  border-radius: 10px;
}
.tarjeta img {
  object-fit: cover;
}
.tarjeta p {
  border-top: 3px solid black;
  padding: 8px;
}
@media (min-width: 768px) {
  .tarjeta {
    max-width: 260px;
  }
}

.link {
  padding: 2px 2.5px;
  color: white;
  background-color: rgb(233, 73, 73);
  border-radius: 5px;
  border-style: outset;
  border-color: black;
  justify-self: end;
}
.link:hover {
  color: rgb(233, 73, 73);
  background-color: white;
  border-color: rgb(233, 73, 73);
  border-style: inset;
}

h3 {
  max-width: 65vw;
  text-align: center;
  padding: 1rem;
  border: 3px black solid;
  border-radius: 10px;
  color: rgb(233, 73, 73);
  background-color: black;
  border-style: groove;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  h3 {
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 3rem;
  }
}

.carousel-container {
  display: flex;
  justify-content: center;
}

.slide {
  width: 100vw;
  max-width: 800px;
  padding: 1rem;
}

footer {
  background-color: black;
  color: rgb(233, 73, 73);
  padding: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  text-align: center;
}

footer a {
  color: rgb(233, 73, 73);
}

h4 {
  margin: 3rem;
  font-size: 2rem;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
}

.logo {
  max-width: 80px;
}

h1 {
  color: rgb(233, 73, 73);
}

header {
  background-color: black;
  color: rgb(233, 73, 73);
  padding: 1rem;
}

.nav-link {
  color: rgb(233, 73, 73);
  font-size: 1.2rem;
  text-align: center;
}
.nav-link:hover {
  color: white;
}

.navbar-toggler {
  color: white;
}
.navbar-toggler-icon {
  color: white;
}

.carrito-buscador {
  gap: 1rem;
  display: flex;
  align-items: baseline;
}
.carrito-buscador a {
  color: rgb(233, 73, 73);
}
.carrito-buscador a:hover {
  color: white;
}

.bi-cart3 {
  font-size: 1.5rem;
}

.boton-buscar {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .seccion-contacto {
    display: flex;
    justify-content: center;
  }
}

.tarjeta-contacto-1 {
  margin-top: 3.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: white;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (min-width: 768px) {
  .tarjeta-contacto-1 {
    width: 366px;
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    height: 366px;
  }
}
.tarjeta-contacto-1 .info-logo {
  margin: auto;
  width: 175px;
}

.titulo-contacto {
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
  top: 0rem;
}

.tarjeta-contacto-2 {
  background-color: rgb(81, 168, 81);
  margin: 1.5rem;
  border-radius: 10px;
  padding: 1rem;
}
@media (min-width: 768px) {
  .tarjeta-contacto-2 {
    width: 650px;
    margin-left: 0px;
  }
}

.formulario-contacto {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.input-contacto {
  border-radius: 0px;
  border: none;
  border-bottom: rgb(233, 73, 73) solid 2px;
  background-color: rgb(81, 168, 81);
  margin: 0.5rem;
}

.mensaje {
  border: double 4px rgb(233, 73, 73);
  height: 220px;
}

.enviar-limpiar {
  margin: 0.5rem;
  border: ridge;
}

.main-componentes {
  background-image: url("../../img/componentes-background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.main-consolas {
  background-image: url(../../img/consolas-background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.titulo-consolas {
  margin-bottom: 9.5rem;
}

.consola-card {
  display: flex;
  flex-direction: column;
  border: black outset 3px;
  margin: 1rem;
  padding: 0.5rem;
  background-color: white;
}
@media (min-width: 768px) {
  .consola-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas: "titulo img" "texto img" "comprar img";
    margin: 5rem;
  }
}
.consola-card-titulo {
  margin: 1rem;
  display: none;
  width: 75%;
  justify-self: center;
}
@media (min-width: 768px) {
  .consola-card-titulo {
    display: initial;
    grid-area: titulo;
  }
}
.consola-card img {
  order: 1;
  grid-area: img;
  object-fit: cover;
}
.consola-card p {
  padding: 0.25rem;
  order: 2;
  align-self: center;
}
.consola-card a {
  width: 75%;
  justify-self: center;
  align-self: center;
  order: 3;
  grid-area: comprar;
  display: block;
  text-align: center;
  padding: 2px 2.5px;
  color: white;
  background-color: rgb(233, 73, 73);
  border-radius: 5px;
  border-style: outset;
  border-color: black;
  margin: 0.5rem;
}
.consola-card a:hover {
  color: rgb(233, 73, 73);
  background-color: white;
  border-color: rgb(233, 73, 73);
  border-style: inset;
}
.consola-card-left {
  grid-template-areas: "img titulo" "img texto" "img comprar";
}

.xbox-series-s {
  margin-bottom: 0rem;
  margin-top: 2rem;
  position: relative;
  bottom: 1rem;
}

.index-option {
  width: 25vw;
  padding: 1rem;
}
.index-option p {
  text-align: center;
}
@media (min-width: 768px) {
  .index-option {
    max-width: 160px;
  }
}

.juegos {
  display: flex;
  align-items: baseline;
}
@media (min-width: 768px) {
  .juegos {
    justify-content: space-around;
  }
}

.ps5-xbox {
  display: flex;
  flex-direction: column;
}

.index-consola-ps5 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 3px outset black;
  border-radius: 10px;
  margin: 0.5rem;
  background-color: white;
  max-height: 100vh;
  max-width: 850px;
}
@media (min-width: 470px) {
  .index-consola-ps5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px;
    grid-template-areas: "ps5 ps5-texto" "ps5 comprar";
  }
}
.index-consola-ps5 img {
  grid-area: ps5;
  max-height: 100%;
}
.index-consola-ps5 p {
  align-self: center;
}
.index-consola-ps5 .link {
  padding: 2px 2.5px;
  color: white;
  background-color: rgb(233, 73, 73);
  border-radius: 5px;
  border-style: outset;
  border-color: black;
  margin: 0.5rem;
  text-align: center;
  grid-area: comprar;
  justify-self: center;
  align-self: center;
  width: 75%;
}
.index-consola-ps5 .link:hover {
  color: rgb(233, 73, 73);
  background-color: white;
  border-color: rgb(233, 73, 73);
  border-style: inset;
}

.index-consola-xbox {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 3px outset black;
  border-radius: 10px;
  margin: 0.5rem;
  background-color: white;
  max-height: 100vh;
  max-width: 850px;
  align-self: end;
}
@media (min-width: 470px) {
  .index-consola-xbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px;
    grid-template-areas: "xbox-texto xbox" "comprar xbox";
  }
}
.index-consola-xbox img {
  grid-area: xbox;
  max-height: 100%;
}
@media (min-width: 470px) {
  .index-consola-xbox img {
    justify-self: end;
  }
}
.index-consola-xbox p {
  align-self: center;
}
.index-consola-xbox .link {
  padding: 2px 2.5px;
  color: white;
  background-color: rgb(233, 73, 73);
  border-radius: 5px;
  border-style: outset;
  border-color: black;
  margin: 0.5rem;
  text-align: center;
  grid-area: comprar;
  justify-self: center;
  align-self: center;
  width: 75%;
}
.index-consola-xbox .link:hover {
  color: rgb(233, 73, 73);
  background-color: white;
  border-color: rgb(233, 73, 73);
  border-style: inset;
}

.texto-consola-index {
  padding: 0.5rem;
  text-align: center;
}

.main-juegos {
  background-image: url("../../img/juegos-background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.titulo-juegos {
  width: 65vw;
  border-style: inset;
  border-radius: 50%;
  margin: auto;
}
@media (min-width: 768px) {
  .titulo-juegos {
    width: 25vw;
  }
}

.subtitulo-juegos {
  color: black;
  background-color: rgb(233, 73, 73);
}

.link-juegos {
  color: rgb(233, 73, 73);
  background-color: white;
}
.link-juegos:hover {
  color: white;
  background-color: rgb(233, 73, 73);
}

/*# sourceMappingURL=styles.css.map */
