$primary-color: rgb(233, 73, 73);
$secondary-color: black;
$terciary-color: white;

@mixin MQ-md{
    @media (min-width: 768px){
        @content
    }
}

@mixin MQ-index{
    @media (min-width: 470px){
        @content
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $secondary-color;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: "Titillium Web", sans-serif;
}

main {
    background-color: $primary-color;
}

input {
    background-color: $primary-color;
    border: 1px $primary-color solid;
    border-radius: 10px;
    padding: 3px;
}

h2 {
    text-align: center;
    padding: 1rem;
    border: 3px $secondary-color solid;
    border-radius: 10px;
    color: $primary-color;
    background-color: $secondary-color;
    border-style: groove;
    margin: 1.5rem;
    margin-top: 0rem;
    position: relative;
    top: 1.5rem;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    min-width: 60vw;
    border: 3px $secondary-color solid;
    background-color: $terciary-color;
    text-align: center;
    padding: 8px;
    margin: .5rem;
    border-radius: 10px;

    & p {
        border-top: 3px solid $secondary-color;
        padding: 8px;
    }

    & a {
        padding: 2px 2.5px;
        color: $terciary-color;
        background-color: $primary-color;
        border-radius: 5px;
        border-style: outset;
        border-color: $secondary-color;
        justify-self: end;

        &:hover {
            color: $primary-color;
            background-color: $terciary-color;
            border-color: $primary-color;
            border-style: inset;
        }
    }

    @include MQ-md{
        min-width: 15vw
    }
}

.card-container {
    display: flex;
    overflow: auto;
}

h3 {
    max-width: 65vw;
    text-align: center;
    padding: 1rem;
    border: 3px $secondary-color solid;
    border-radius: 10px;
    color: $primary-color;
    background-color: $secondary-color;
    border-style: groove;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;

    @include MQ-md{
        margin: auto;
        margin-top: 8rem;
        margin-bottom: 3rem;
    }
}

.filler {
    background-color: $primary-color;
    color: $primary-color;
}