footer {
    background-color: $secondary-color;
    color: $primary-color;
    padding: 1rem;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    text-align: center;
}

footer a {
    color: $primary-color;

    &:hover {
        color: $terciary-color;
    }
}

h4 {
    margin: 3rem;
    font-size: 2rem;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
}