.main-juegos {
    background-image: url("../../img/juegos-background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.titulo-juegos {
    width: 65vw;
    border-style: inset;
    border-radius: 50%;
    margin: auto;

    @include MQ-md {
        width: 25vw;
    }
}

.subtitulo-juegos {
    color: $secondary-color;
    background-color: $primary-color;
}

.link-juegos {
    color: $primary-color;
    background-color: $terciary-color;

    &:hover {
        color: $terciary-color;
        background-color: $primary-color;
    }
}