.seccion-contacto {
    @include MQ-md {
        display: flex;
        justify-content: center;
    }
}

.tarjeta-contacto-1 {
    position: relative;
    top: 1.5rem;
    margin-bottom: 2.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: $terciary-color;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    @include MQ-md {
        width: 366px;
        top: 0rem;
        margin-top: 3.5rem;
        margin-right: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        height: 366px;
    }

    & .info-logo {
        margin: auto;
        width: 175px;
    }
}

.titulo-contacto {
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    top: 0rem;
}

.tarjeta-contacto-2 {
    background-color: rgb(233, 233, 194);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    border-radius: 10px;
    padding: 1rem;
    position: relative;
    bottom: 1.5rem;
    box-shadow: -10px -10px 5px $shadow-color;

    @include MQ-md {
        width: 650px;
        margin: 1.5rem;
        margin-left: 0px;
        bottom: 0rem;
        box-shadow: -10px 10px 5px $shadow-color;
    }
}

.formulario-contacto {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.input-contacto {
    border-radius: 0px;
    border: none;
    border-bottom: $primary-color solid 2px;
    background-color: rgb(233, 233, 194);
    margin: .5rem;
}

.mensaje {
    border: double 4px $primary-color;
    height: 220px;
}

.enviar-limpiar {
    margin: .5rem;
    border: ridge;
}